body {
  font-family: monospace;
  font-size: 1.2em;
  color: rgb(97, 0, 153);
  margin: 0px;
  padding: 0px
}

h1, h2, h3 {
  margin: 0px
}

a {
  text-decoration: none;
  color: rgb(97, 0, 153);
}

.section-header {
  color: #8c00ff;
}